.env
__pycache__
conversation_history.json
discord_bot.db
logs.json
propagandas.json
images/acorda.png
images/amazon.jpg
images/brothers.jpg
images/codecademy.png
images/dota.jpg
images/ffxiv.jpg
images/fortnite.jpg
images/gou.jpg
images/huggywuggy.jpg
images/islam.jpg
images/johnmers.png
images/menes_suecos.png
images/psicologo.jpg
images/raid.jpg
images/sergio_moro.jpg
images/skillshare.jpg
images/sseth.jpg
images/subway.mp4
images/swedish.png
images/taylor_swift.jpg
images/tigrinho.png
images/tiktok.png
images/tim.jpg
images/wot.jpg
